canvas,
body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  /* background-color: rgb(222, 184, 135); */
}
body {
  overflow: hidden;
  background-color: rgb(222, 184, 135);
}
canvas {
  position: absolute;
}

h1 {
  text-align: center;
  font-size: 13rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
  cursor: default;
}

.main-button-container {
  text-align: center;
}
.main-button-container > button {
  width: 25rem;
  height: 10rem;
  font-size: 7rem;
  cursor: pointer;
  background-color: rgb(173, 255, 47);
  &:hover {
    background-color: rgb(145, 214, 41);
  }
  &:active {
    background-color: rgb(50, 207, 50);
  }
}

.other-button-container {
  text-align: right;
}
.other-button-container > a > button {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 8rem;
  height: 8rem;
  border: 0.2rem solid blue;
  background-color: rgb(47, 207, 255);
  &:hover {
    background-color: rgb(0, 195, 255);
  }
  &:active {
    background-color: rgb(0, 167, 218);
  }
}
